
<!-- <div *ngFor="let item of someObj; let i = index;">
  <div>{{ item.name }} {{ i }}</div>
  <div *ngFor="let some of item.friends">
    {{ some?.name }}
  </div>
</div>


<br>
<div *ngFor="let org of orgs; let i = index;">
  <div>{{ org.name }} {{ i }}</div>
  <div *ngFor="let node of org.nodes">
    {{ node.name }}
  </div>
</div>
<ul>
<ng-container *ngFor="let comment of comments">

       <li>
         {{comment.text}}

       </li>
  <li  *ngIf="comment.comments">
    <app-item [comments]="comments"> </app-item>


  </li>

    </ng-container>
</ul>
-->

<app-node [orgs]="orgs"

> </app-node>

<input type="text" placeholder="Введите название структуры">
